<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <h1>Hello, World</h1>
    
</body>
</html>

<!-- These HTML pages, these templates that I can render using Django are parameterizable as well.
  Maybe I want to implement hello/hermione as some sort of HTML page, an HTML page that says, "Hello, Hermione!" And using HTML out of 
  the box, you can't really do stuff like this. HTML is a markup language, not so much a programming language, which means it doesn't, 
  by default, have support for things like a variable to represent someone's name. But using Django's ability to take an HTML page and 
  treat it like a template that we can render, Django has added its own templating language, so to speak, on top of the existing HTML. 
  And I can take advantage of that to be able to render an HTML page that actually has a variable inside of it, or a condition inside of
   it, or a loop inside of it, as we'll see in just a moment as well.  -->